ul.unstyled.nav-menu
    li.menu-item.active
        span.icon-calendar
        span= 'Today'
    li.menu-item
        span.icon-calendar
        span= 'Week'
    li.menu-item
        span.icon-inbox
        span= 'All time'
    li.menu-item
        span.icon-cog
        span= 'Settings'

    li.separator

    li.menu-item
        span.icon-plus-circled
        span= 'Add new'
