.todo-meta.clearfix
    .todo-due.pull-left= '{{ todo.due | scheduledTime }}'
    .btn-group.pull-right
        span.dropdown-toggle(type="button" data-toggle="dropdown")
            span.icon-cog

        ul.dropdown-menu.edit-menu(role='menu')
            li: a(tabindex="-1" ng-click="flipDone(todo)")
                span.icon-check
                span= "Mark as {{todo.done ? 'undone' : 'done' }}"
            li: a(tabindex="-1" ng-click="edit(todo)")
                span.icon-cog
                span= 'Edit task'
            li.dropdown-submenu
                span.icon-calendar
                span.disabled= 'Postpone'

.todo-title= '{{todo.title}}'
.todo-body= '{{todo.body}}'

