doctype html
html(lang='en')
    link(rel='/css/twodew.styl' type='text/css')

body
    .row
        .nav
            .logo= 'Logo goes here...'
            .menu
                ul.unstyled
                    li.menu-item: span= 'Today'
                    li.menu-item: span= 'Week'
                    li.menu-item: span= 'All time'
                    li.menu-item: span= 'Settings'
                    
                    li.separator

                    li.action-item: span= 'Add new'
                
        .main
            .search
                span.search-icon
                input(placeholder='Search for particular task')

            .container
                .day
                    .day-header
                        span.day-name= 'Today '
                        span.day-date= 'Wed May 14'
                        button.day-action.pull-right
                            | Mark everything
                            span.dropmenu-icon

                    ul.unstyled.todos
                        li.todo
                            .todo-icon
                            .todo-content
                                .todo-meta.clearfix
                                    span.todo-due.pull-left= '21:00'
                                    span.gear-icon.pull-right

                                .todo-title= 'Title'                                    
                                .todo-body= 'Body'

